
.navbar-brand{
    color: white;
    background-color: #22b2bd;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.jumbotron{
    background-color: white;
    position: relative;
    width: 800px;
    box-sizing: content-box;
    
}
h1{
    color: #22b2bd;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* floats image og myself to the left in about me */
img{
    float: left;
}
.wrap-text{
    width: 80%;
}

.contact-form{
    margin-bottom: 20px;
}

.btn {
    background-color: #22b2bd;
    border-color: #22b2bd;
}

.container{
   display: block;
}


footer{
    margin: 0%;
    padding-top: 20%;
}
.copyright-footer{
    background-color: gray;
    border-top: solid 5px #22b2bd;
    text-align: center;
}

.copyright-footer span{
    color: #22b2bd;
    font-size: 1rem;
    opacity: 50%;
}

