/* takes the default margin and padding away from page */
{
    margin: 0;
    padding: 0;
}

h1{
    color: white;
    background-color: #22b2bd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

body{
    height: 100%;
}

body{
    background-image: url(./Images/ignasi_pattern_s.png)
}