/* takes the default margin and padding away from page */
{
    margin: 0;
    padding: 0;
}

body {
    background-image: url("./ignasi_pattern_s.png");
  }

.navbar-brand{
    
    background-color: #22b2bd;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1{
    color: #22b2bd;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

img{
    float: left;
}
.wrap-text{
    width: 80%;
}

footer{
    margin: 0%;
    padding: 0%;
}
.copyright-footer{
    background-color: gray;
    border-top: solid #22b2bd;
    text-align: center;
    
    
    

}